@page "/Loan/{License}"
@using Rental.Data.Context
@inject RentalContext RentalContext

<Navigation></Navigation>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">Date Start</th>
        <th scope="col">Date End</th>
        <th scope="col">Right Date</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var loan in _loans)
    {
        <tr>
            <th scope="row">@loan.Serial</th>
            <td>@loan.User</td>
            <td>@loan.DateStart.ToString("yyyy-MM-dd")</td>
            <td>@loan.DateEnd.ToString("yyyy-MM-dd")</td>
            <td>@VerifyAndUpdateDates(@loan.Serial, @loan.DateStart, @loan.DateEnd)</td>
        </tr>
    }
    </tbody>
</table>

<Footer></Footer>

@code {

    [Parameter]
    public string License { get; set; }

    private List<Rental.Data.Loan> _loans;

    protected override async Task OnInitializedAsync()
    {
        _loans = await RentalContext.GetLoansByLicense(License);
    }

    private string VerifyAndUpdateDates(int serial, DateTime start, DateTime end)
    {
        // Greater than zero - This date start is later than date end (wrong format).
        if (start.CompareTo(end) > 0)
        {
            // Interchange the dates for set the right format.
            RentalContext.UpdateLoanDates(serial, end.ToString("yyyy-MM-dd"), start.ToString("yyyy-MM-dd"));
            return "Wrong";
        }

        return "Right";
    }

}